# Introducing Pandas Objects

At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices. As we will see during the course of this chapter, Pandas provides a host of useful tools, methods, and functionality on top of the basic data structures, but nearly everything that follows will require an understanding of what these structures are. Thus, before we go any further, let's introduce these three fundamental Pandas data structures: the Series, DataFrame, and Index.

We will start our code sessions with the standard NumPy and Pandas imports:

In [1]:
import numpy as np
import pandas as pd

## The Pandas Series Object
A Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array as follows:

In [2]:
data = pd.Series(np.linspace(0, 1, 5))
data

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

As we see in the output, the Series wraps both a sequence of values and a sequence of indices, which we can access with the values and index attributes. The values are simply a familiar NumPy array:

In [3]:
data.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [5]:
data[1]

0.25

In [6]:
data[1:3]

1    0.25
2    0.50
dtype: float64

As we will see, though, the Pandas Series is much more general and flexible than the one-dimensional NumPy array that it emulates.

## Series as generalized NumPy array

From what we've seen so far, it may look like the Series object is basically interchangeable with a one-dimensional NumPy array. The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.

This explicit index definition gives the Series object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type. For example, if we wish, we can use strings as an index:

In [7]:
data = pd.Series(np.linspace(0,1,5),
                 index=['a', 'b', 'c', 'd', 'e'])
data

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [8]:
data['b']

0.25

In [9]:
data = pd.Series(np.linspace(0,1,5),
                 index=[2, 4, 6, 8, 10])
data

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [10]:
data[4]

0.25

## Series as specialized dictionary
In this way, you can think of a Pandas Series a bit like a specialization of a Python dictionary. A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure which maps typed keys to a set of typed values. This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.

The Series-as-dictionary analogy can be made even more clear by constructing a Series object directly from a Python dictionary:

In [21]:
pincode_dict = {'Delhi': 110020,
                   'Mumbai': 400008,
                   'Bangalore': 560004,
                   'Ahmedabad': 382460,
                   'Kolkata': 700008}
pincode = pd.Series(pincode_dict)
pincode

Delhi        110020
Mumbai       400008
Bangalore    560004
Ahmedabad    382460
Kolkata      700008
dtype: int64

In [22]:
pincode['Mumbai']

400008

In [23]:
pincode['Mumbai':'Ahmedabad']

Mumbai       400008
Bangalore    560004
Ahmedabad    382460
dtype: int64

We'll discuss some of the quirks of Pandas indexing and slicing in Data Indexing and Selection.

Constructing Series objects
We've already seen a few ways of constructing a Pandas Series from scratch; all of them are some version of the following:

    >>> pd.Series(data, index=index)
where index is an optional argument, and data can be one of many entities.

For example, data can be a list or NumPy array, in which case index defaults to an integer sequence:

In [15]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [16]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [17]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

Notice that in this case, the Series is populated only with the explicitly identified keys.

## The Pandas DataFrame Object
The next fundamental structure in Pandas is the DataFrame. Like the Series object discussed in the previous section, the DataFrame can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary. We'll now take a look at each of these perspectives.

### DataFrame as a generalized NumPy array
If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names. Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. Here, by "aligned" we mean that they share the same index.

To demonstrate this, let's first construct a new Series listing the area of each of the five states discussed in the previous section:

In [24]:
area_dict = {'Delhi': 37532521,
                   'Mumbai': 19352860,
                   'Bangalore': 12882135,
                   'Ahmedabad': 12482115,
                   'Kolkata': 26445193}

area = pd.Series(area_dict)
area

Delhi        37532521
Mumbai       19352860
Bangalore    12882135
Ahmedabad    12482115
Kolkata      26445193
dtype: int64

Now that we have this along with the Pincode Series from before, we can use a dictionary to construct a single two-dimensional object containing this information:

In [25]:
states = pd.DataFrame({'pincode': pincode,
                       'area': area})
states

           population      area
Delhi          110020  37532521
Mumbai         400008  19352860
Bangalore      560004  12882135
Ahmedabad      382460  12482115
Kolkata        700008  26445193

Like the Series object, the DataFrame has an index attribute that gives access to the index labels:

In [26]:
states.index

Index(['Delhi', 'Mumbai', 'Bangalore', 'Ahmedabad', 'Kolkata'], dtype='object')

Additionally, the DataFrame has a columns attribute, which is an Index object holding the column labels:

In [27]:
states.columns

Index(['population', 'area'], dtype='object')

Thus the DataFrame can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

## DataFrame as specialized dictionary

Similarly, we can also think of a DataFrame as a specialization of a dictionary. Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data. For example, asking for the 'area' attribute returns the Series object containing the areas we saw earlier:

In [28]:
states['area']

Delhi        37532521
Mumbai       19352860
Bangalore    12882135
Ahmedabad    12482115
Kolkata      26445193
Name: area, dtype: int64

Notice the potential point of confusion here: in a two-dimesnional NumPy array, data[0] will return the first row. For a DataFrame, data['col0'] will return the first column. Because of this, it is probably better to think about DataFrames as generalized dictionaries rather than generalized arrays, though both ways of looking at the situation can be useful. We'll explore more flexible means of indexing DataFrames in upcoming chapters.

## Constructing DataFrame objects
A Pandas DataFrame can be constructed in a variety of ways. Here we'll give several examples.

### From a single Series object
A DataFrame is a collection of Series objects, and a single-column DataFrame can be constructed from a single Series:

In [30]:
pd.DataFrame(pincode, columns=['population'])

           population
Delhi          110020
Mumbai         400008
Bangalore      560004
Ahmedabad      382460
Kolkata        700008

From a list of dicts
Any list of dictionaries can be made into a DataFrame. We'll use a simple list comprehension to create some data:

In [31]:
data = [{'a': i, 'b': 2 * i}
        for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [32]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

From a dictionary of Series objects
As we saw before, a DataFrame can be constructed from a dictionary of Series objects as well:

In [33]:
pd.DataFrame({'pincode': pincode,
              'area': area})

           pincode      area
Delhi       110020  37532521
Mumbai      400008  19352860
Bangalore   560004  12882135
Ahmedabad   382460  12482115
Kolkata     700008  26445193

### From a two-dimensional NumPy array
Given a two-dimensional array of data, we can create a DataFrame with any specified column and index names. If omitted, an integer index will be used for each:

In [34]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.439627  0.459254
b  0.666103  0.345856
c  0.711689  0.440031

### From a NumPy structured array
We covered structured arrays in Structured Data: NumPy's Structured Arrays. A Pandas DataFrame operates much like a structured array, and can be created directly from one:

In [35]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [36]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

These operations may also be accessed via object methods, for example indA.intersection(indB).